pandas
numpy
matplotlib
plotly
streamlit
opencv-python>=4.8.0
pysrt
nltk
spacy
transformers
sentence-transformers
sqlalchemy
psycopg2
python-dotenv
networkx
pyvis
pgvector
fastapi
uvicorn
requests
opencv-python
